h1 {
  color: black;
}

body {
  margin: 0;
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
}

.app-container {
  width: 70%;
  margin: 60px auto;
}

.app-container h1 {
  border-left: 8px solid #00bcd4;
  padding-left: 18px;
  margin-bottom: 25px;
  font-size: 30px;
}